# DEPLOY / SERVIDOR SSH
SSH_HOST=192.168.0.115
SSH_USER=root
SSH_PASS=CHANGE_ME

# DIRECTUS CONFIG
NEXT_PUBLIC_DIRECTUS_URL=http://localhost:8055
DIRECTUS_TOKEN=CHANGE_ME

# GEMINI IA CONFIG
GEMINI_API_KEY=CHANGE_ME